html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 0px;
    text-align: center;
    overflow: scroll;
    justify-content: center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

body {
    background-image: url("./assets/images/portfolioBackground.jpg");;
}

.container-fluid {
    padding: 0;
}

.navbar {
    background-color: rgba(255, 127, 80, 0.466);
    z-index:2; 
    height: 10vh;
    padding-top: 0;
}

#navFont {
    font-family: 'futura';
    color: rgb(88, 88, 88);
    padding-right: 15%;
    margin-top: 0.5%;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00b8e6, 0 0 40px #00b8e6, 0 0 50px #00b8e6, 0 0 60px #00b8e6, 0 0 70px #00b8e6;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #a1fc8b, 0 0 40px #a1fc8b, 0 0 50px #a1fc8b, 0 0 60px #a1fc8b, 0 0 70px #a1fc8b, 0 0 80px #a1fc8b;
    }
  }

#navIconHeight {
    margin-top: 2%;
}

#navBarIcons {
    font-size: xx-large;
    color: rgb(189, 188, 188);
    float: right;
    padding-bottom: 55%;
}

#navBarIcons:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    text-decoration-color: none;
    color: white;
}

#jumboIndex {
      background-color: rgba(255, 127, 80, 0.897);
      border: 2px solid white;
      margin-top: 10%;
      font-family: 'Roboto Slab', serif;
}

.jumbotron a {
    color: #FFFFFF;
    text-decoration: none;
} 

.bodyCont {
    background-color: rgba(226, 223, 214, 0.952);
    border-radius: 5px;
    height: 80vh;
    width: 77vw;
}

.card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 13%;
    box-shadow: 5px 5px 15px 5px #424242;
}

#homeCardImg {
    height: 45vh;
    width: 19.9vw;
}

#homeLinks {
    background-color: rgb(82, 81, 81);
    color: white;
    border: none;
}

#homeLinks:hover
{
    box-shadow:
    1px 1px #5376ea,
    3px 3px #5376ea,
    5px 5px #5376ea;
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
}

.pseudoBtn {
    background-color: rgb(82, 81, 81);
    border: none;
    border-radius: 5px;
    width: 10vw;
    height: 4.8vh;
    justify-content: center;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.card {
    width: 18rem;
}

#cardIcons {
    color: white;
    font-size: x-large;
    margin-right: 5%;
    margin-top: 5%;
}

#cardIcons:hover
{
    box-shadow:
    1px 1px #5376ea,
    2px 2px #5376ea,
    3px 3px #5376ea;
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
    text-decoration-color: #5376ea;
    color: #5376ea;
}

#cardIcons:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    text-decoration-color: none;
    color: white;
}

#cardIcons2 {
    color: white;
    font-size: x-large;
    margin-right: 1%;
}

#cardIcons2:hover
{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    text-decoration-color: none;
    color: white;
}

#carouselImg {
    height: 90vh;
    border: 3px solid whitesmoke;
}

#portImageText {
    background-color: rgba(0, 0, 0, 0.74);
    transform: skew(-25deg);
    font-family: 'optima';
    width: 45%;
    justify-content: center;
    display: inline-block;
    text-shadow: -2px 2px 2px rgb(0, 0, 0);
}

#portImageText {
        color: white; 
        transition: all 0.5s;
        position: relative;
    }
#portImageText:hover {
    background: rgb(255, 198, 198);
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

.carousel-inner>.item {
    width: 100%;
    z-index:-9;
}

#jumboIndex2 {
    height: 70vh;
    width: 70vw;
    justify-content: center;
    display: inline-block;
    margin-top: 5%;
    background-image: url("./assets/images/aboutMeJumbo.png");
}

#aboutMe2Pic {
    height: 50vh;
    width: 30vw;
    float: left;
    color: white;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
}

#aboutMeDetails, #aboutMeDetails2 {
    color: rgb(49, 49, 49);
    font-family: 'Merriweather', serif;
    margin-top: 3%;
    margin-left: 3%;
}
      
#aboutMeDetails:hover {
    background: #7bb4ff62;
    width: 100.5%;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

#paper {
        width: 60vw;
        height: 90vh;
        position: relative;
        margin: 20px auto;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: rgb(245, 235, 207);
        box-shadow: 0px 0px 5px 0px #888;
      }
      
#paper::before {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 40px;
        background-color: rgba(255,0,0,0.6);
      }
      
#pattern {
        height: 100%;
        background-image: repeating-linear-gradient(rgb(245, 235, 207) 0px, rgb(245, 235, 207) 24px, teal 25px);
      }
      
#content {
        padding-top: 6px;
        padding-left: 56px;
        padding-right: 16px;
        line-height: 25px;
        font-family: 'Merriweather', serif;
        font-size: 19px;
        letter-spacing: 1px;
        word-spacing: 5px;
      }

#footerId {
    left: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 100%;
    background-color: rgba(255, 127, 80, 0.466);
    height: 7vh; 
    margin-top: 6%;
    padding-top: 1%;
}

#footerId2 {
    left: 0;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: 100%;
    background-color: rgba(255, 127, 80, 0.466);
    height: 7vh; 
    padding-top: 1%;
}


@media (max-width: 1025px) {

    html,
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bodyCont {
        margin: auto;
        height: 65vh;
    }

    .card {
        width: 12.8rem;
    }

    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    #aboutMe2Pic {
        height: 30vh;
        width: 30vw;
        float: left;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
    }

    #footerId {
        height: 5vh;
    }

    #footerId2 {
        height: 5vh;
    }
}

@media (max-width: 769px) {

    html,
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bodyCont {
        margin: auto;
        height: 75vh;
    }

    .card {
        width: 9.6rem;
        height: 4vh;
    }

    .pseudoBtn {
        width: 17vw;
        height: 4.8vh;
    }

    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    #aboutMe2Pic {
        height: 20vh;
        width: 20vw;
        float: left;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
    }

    #aboutMeDetails, #aboutMeDetails2 {
        font-size: medium;
    }

    #paper {
        width: 60vw;
        height: 120vh;
      }

    #footerId {
        height: 5vh;
    }


}

@media (max-width: 415px) {

    html,
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #navFont {
        font-size: xx-large;
      }

    #navBarIcons {
        font-size: medium;
        color: rgb(189, 188, 188);
        float: right;
        padding-bottom: 55%;
    }

    .bodyCont {
        margin: auto;
        height: 230vh;
    }

    .card {
        width: 13rem;
        height: 70vh;
    }

    #homeCardImg {
        height: 45vh;
        width: 50vw;
    }

    .pseudoBtn {
        width: 27vw;
        height: 4.8vh;
    }

    #portImageText {
        width: 85%;
    }

    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
    }

    #aboutMe2Pic {
        height: 10vh;
        width: 15vw;
        float: left;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
    }

    #aboutMeDetails, #aboutMeDetails2 {
        font-size: small;
    }

    #paper {
        width: 60vw;
        height: 230vh;
      }

      #content {
        font-size: 10px;
      }


    #footerId {
        height: 5vh;
    }


}

@media (max-width: 376px) {

    html,
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #navFont {
        font-size: xx-large;
      }

    #navBarIcons {
        font-size: medium;
        color: rgb(189, 188, 188);
        float: right;
        padding-bottom: 55%;
    }

    .bodyCont {
        margin: auto;
        height: 230vh;
    }

    .card {
        width: 13rem;
        height: 70vh;
    }

    #homeCardImg {
        height: 45vh;
        width: 55.3vw;
    }

    .pseudoBtn {
        width: 27vw;
        height: 4.8vh;
    }

    #portImageText {
        width: 85%;
    }

    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
    }

    #aboutMe2Pic {
        height: 10vh;
        width: 15vw;
        float: left;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
    }

    #aboutMeDetails, #aboutMeDetails2 {
        font-size: small;
    }

    #paper {
        width: 60vw;
        height: 290vh;
      }

      #content {
        font-size: 10px;
      }

    #footerId {
        height: 5vh;
    }


}

@media (max-width: 361px) {
    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;
    }

    #paper {
        width: 60vw;
        height: 320vh;
      }
}

@media (max-width: 321px) {

    html,
    body {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #navFont {
        font-size: xx-large;
      }

    #navBarIcons {
        font-size: medium;
        color: rgb(189, 188, 188);
        float: right;
        padding-bottom: 55%;
    }

    .bodyCont {
        margin: auto;
        height: 230vh;
    }

    .card {
        width: 13rem;
        height: 80vh;
    }

    #homeCardImg {
        height: 45vh;
        width: 64.3vw;
    }

    .pseudoBtn {
        width: 35vw;
        height: 5.8vh;
    }

    #portImageText {
        width: 105%;
    }

    #jumboIndex2 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 45vh;
    }

    #aboutMe2Pic {
        height: 5vh;
        width: 10vw;
        float: left;
        color: white;
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.616);
    }

    #aboutMeDetails, #aboutMeDetails2 {
        font-size: small;
    }

    #paper {
        width: 60vw;
        height: 440vh;
      }

      #content {
        font-size: 10px;
      }

    #footerId {
        height: 5vh;
    }


}

